* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-family: 'Muli', sans-serif;

  header {
    text-align: center;
    padding-top: 2.5rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    max-width: 850px;
    width: 100%;

    .click-counter {
      font-size: 1.3rem;
      color: #6c757d;
      text-align: center;

      .ount-text-info {
        font-weight: 700;
      }
    }

    .image {
      width: 100%;
      height: auto;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: scale(1);
      transition: transform 0.2s ease-in;
      flex-wrap: wrap;


      .loading-text {
        text-align: center;
        color: #6c757d;
        position: absolute;
        top: 50%;
        width: 100%;
      }

      .image-1, .image-2 {
        width: 100%;
        min-height: 450px;
        min-width: 250px;
        max-width: 400px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        // border: 1px solid red;

        h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            text-align: center;
        }


        img {
          object-fit: cover;
          height: 400px;
          width: 100%;
          border-radius: 4px;

        }
      }
    }

    .cat-list {
      width: 100%;
      max-width: 450px;
      overflow-x: scroll;
      height: 80px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;


      .cat-item {
        min-width: 70px;
        position: relative;
        width: 20%;

        &.selected {

          img {
              border: 3px solid red;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 3px;
        }
      }

      .cat-item:not(:last-child) {
        margin-right: 5px;
      }
    }

    .button {
      margin-bottom: 30px;
    }
  }
}

.hidden {
  transform: scale(0);
  transition: transform 0.2s ease-out;
}

@media only screen and (max-width: 320px) {
  body {

    header {
      font-size: 1.5rem;
      padding-top: 1.5rem;

      h1 {
        font-size: 2rem;
      }
    }

    .container {
      .click-counter {
        font-size: 1.5rem;
      }

      .image {
        min-height: 200px;
      }
    }
  }
}
